.feature {
    padding-bottom: 0;
  }
  
  .feature__list {
    display: flex;
    gap: 30px;
  }
  
  .feature__item {
    flex-basis: calc((100% - 90px) / 4);
  }
  
  
  .feature__title {
    margin-bottom: 10px;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: $title-text-color;
  }
  
  .feature__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  
  .feature__thumb {
    display: flex;
    width: 270px;
    height: 120px;
    background-color: $feature-thumb-color;
    border-radius: 4px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
  }